@import url("font.css");
body,html {
    width: 100%;
    direction: rtl;
    font-size: 16px;
    height: 100%;
    margin: 0;
    font-family: 'Shabnam', serif;
    background-color: rgb(249, 249, 253)
  }
  
 section{
    margin: 60px auto ;
} 
.btn{
    border: 1px solid transparent;
    background: transparent;
    border-radius: 4px;
}

.btn-color-orange{
    background-color: #ffc300;
    
}

.btn-size{
padding: 0;


}

.logo-reyhoon{
    height:35px;
    margin-top: 10px;
}

.nav-flex{ 
    display: flex;
    width:100%;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    height:3.438em;
    background-color: white;
}
svg{
    width:7rem;
}
.help{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.help ul {
    list-style: none;
    color:rgb(54, 53, 53);
    margin: auto;
    
}
ul.help { 
    width:10%;
    
}
.login{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:8.125em;
    align-self: flex-start;
}
.login li{
    width:20%;
    text-align: left;
}
/* li.dash{width:5%;} */
.horizontal-line {
	/* box-shadow: 0 1px 1px 1.5px rgb(240, 13, 81); */
    height: 3px;
    background-image: linear-gradient(to right, #ee1071, #df0081, #cb0092, #b000a2, #8c05b1);}

.header{
     background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://dist.reyhoon-static.com/web-assets/images/backgrounds/home-page-bg.jpg?x-oss-process=image/resize,w_1600/interlace,1/quality,q_60");
     height: 123vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.bg-light{
    background-color: white;
}

.section-flex{
	/* background-color: aquamarine; */
	/* margin: 15px auto; */
	width: 1500px;
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
}

.heading h1{
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    text-shadow: 0px 0px 15px  rgba(51, 49, 49,0.89);

}
.heading{
    width: 100%;;
    flex-flow:column wrap;
    justify-content: center;
    margin-top: 7.750rem;
}


.center-text{
    text-align: center;
}

.form-box{
    flex-flow:column wrap;
    justify-content: center;
}

.form-box p{
    color: white;
    font-size: 1rem;
    text-shadow: 0px 0px 15px  rgba(51, 49, 49,0.89);

}

.form-box div{
    height: 82px;
    background-color: white;
    width: 48.750em;
    margin: auto;
    border-radius: 10px;
}

input {
    
    width:38.125rem;
    border: 1px solid rgb(82, 79, 79);
    border-left: none;
    border-radius: 10px;
    box-shadow:0 0 1px 0 rgb(82, 79, 79);
    height: 3.750em;
    display: inline-block;
}

.container-flex {
    display:flex;
    width:1170px;
    margin: 0 auto;
}

.box-flex{
    width:26%;
    height:275px;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.11);
    display: flex;
    margin: auto;;
    border-radius: 0.8rem;
    text-align: center;
    margin-top:-15rem ;
    box-sizing: border-box;
    flex-basis: 26%;

}

.box-flex h2{
    color: #777;
    font-size: 1rem;

}

.box-flex p{
    color: #9b9b9b;
    font-size: 0.875rem;

}
.row-direction{
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    
}

.flex-around{
    justify-content: space-around;
}

.column-direction{
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.flex-evenly{
    justify-content: space-evenly
}

.marginTop{
    margin-top: 90px;
}

.flex-center{
    justify-content: center;
}

.resturant-flex{
    width:26%;
    height:328px;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.11);
    display: flex;
    margin: auto;;
    border-radius: 0.8rem;
    text-align: center;
    margin-top:15px ;
    box-sizing: border-box;
    flex-basis: 30%;

}

.section-bg{
    width: 100%;
    margin: 90px auto;
    background-image: url('https://www.reyhoon.com/react-assets/dist/9b1766f8.jpg'); 
    background-size: cover;
    background-position: center right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height:78.04347826086956vh;

}

.gold-color{
    color:rgb(246, 222, 6);
}

.list-in-box {
	display: flex;
    justify-content:space-between;
    box-sizing: border-box;
    width:18.750em;

}

.resturant-flex h1{
    font-size: 1.2em;
}

.resturant-flex p{
    font-size: 0.95rem;
    color: #777;
}

.list-in-box li:first-child{
     list-style-type: none;
}

.list-in-box li{
   padding: 3px;
}

.btn-in-box{
    border:1px solid rgb(248, 3, 105);
    border-radius: 15px;
    padding: 7px 12px;
    width: 8.313em;
    background: white;
    align-self:center;
}

.resturant-flex > div, .resturant-flex > p ,.resturant-flex > ul, .resturant-flex > button ,.resturant-flex > h1 {
    margin:3px 0;

}

.good-resturant{
    width:36.250em;
    position: relative;
    top:10%;
    left: -18%;
    margin-top:3;
    background-color: transparent;
}

.good-resturant-flex {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    color:#777;
}

.good-resturant-flex div{
    width:22%; 
    height: auto;
    margin:0.5rem  ;
    font-size: 0.98rem;
    text-align: center;
    line-height: 1.250em;
}

.good-resturant-flex  img{
    max-width:100%;
    
}

.good-resturant-flex h1{
    width:100%;
    padding:15px 35px ;
}

.which-food{
    margin: 60px  auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.which-food *{
    text-align: center;
    margin: 15px 0;
    
}
.which-food h1{

    font-size: 1.875em;
}
.which-food h2{

    font-size: 1.65em;
}

.img-box-flex{
    margin: 15px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.img-box-flex div {
	width: 23%;
	height: 294px;
	justify-content: flex-end;
	display: flex;
	align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

}
.img-box-flex div *{
    margin:5px 15px;
    color: white;
}

.more-food-flex{
    flex-flow: row wrap;
    display:flex;
     
    justify-content: space-around;
}
.more-food-flex h3{
    width:12.5%;
    text-align: center
}

.more-food-flex h1{
    width:100%;
    text-align: center;
}
.more-food{
    width:62.500em;
margin: 90px auto;}

.app{
    margin:90px auto ;
    margin-top: 375px;
 
    width:1170px;
    height: 540px;
    background-color:white;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.11);
}

.app img{
    position: relative;
    top:-150px;
    left:-800px;
}

.bg-diagonal{
    width:100%;
    height:120vh;
    clip-path: polygon(0 27%, 100% 16%, 100% 73%, 0 83%);
    background-image: url('https://www.reyhoon.com/react-assets/faq-background.jpg');
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: cover;
    background-attachment: scroll;
}

.article{
    width:1170px;
    margin: auto;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.11);
    border-top:2px solid #cb0092;
    position: relative;
    z-index: 2;;
    background-color: white;
    margin-top: -500px;
}

.article div{
    width: 1070px;
    margin:45px;
    padding-bottom:45px; 
    
    border-bottom: 1px solid rgb(82, 79, 79,0.5);
}
.article h1{
    font-size: 35px;
    line-height: 2.20em;
    color:#4a4a4a;

}

.article p{
    font-size: 18px;
    color: #777;
    line-height: 2rem;
}

.article div:last-child{
    border-bottom: none;

}

.any-question{
    text-align: center;
    font-size: 1.188em;
    color:#4a4a4a;
}
.any-question button{
    font-size:1.05em;
    background-color: #ffc300;
    color: white;
    border: none;
    padding: 9px ;

}

footer{
    color:#9b9b9b;
    background-color:#202020;

}